
APP_NAME=Hello Friend
LOG_LEVEL=INFO

# ==============================================================
# INPUT / OUTPUT
# ==============================================================

# text
# voice
# both

INPUT_MODE=both

# text only
OUTPUT_MODE=text

# ==============================================================
# LLM
# ==============================================================

# groq
# ollama
# nvidia

LLM_PROVIDER=nvidia

NVIDIA_API_KEY=YOUR_NVIDIA_API_KEY
NVIDIA_MODEL=meta/llama-3.1-70b-instruct

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

OLLAMA_MODEL=gpt-oss:20b
OLLAMA_BASE_URL=http://localhost:11434

# ==============================================================
# NVIDIA STT
# ==============================================================

STT_PROVIDER=nvidia

STT_MODEL=whisper-large-v3
# en
# multi = automatic multilingual detection

STT_LANGUAGE=en

NVIDIA_RIVA_SERVER=grpc.nvcf.nvidia.com:443

NVIDIA_STT_FUNCTION_ID=b702f636-f60c-4a3d-a6f4-f3568c13bd7d

# ==============================================================
# MICROPHONE
# ==============================================================

SAMPLE_RATE=16000

RECORD_SECONDS=5

LLM_TEMPERATURE=0.4
LLM_MAX_TOKENS=1024